<div class="container">
    <h1>Contacts Management</h1>
  
    <button type="button" class="btn btn-success mb-3" (click)="openModal()">New</button>
  
    <div *ngIf="isModalOpen" class="modal fade show" id="newContactModal" tabindex="-1" aria-labelledby="newContactModalLabel" aria-hidden="true" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-between">
            <h5 class="modal-title" id="newContactModalLabel">Add/Edit Contact</h5>
            <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-contact-form [contact]="selectedContact" (saveContact)="addOrUpdateContact($event)"></app-contact-form>
          </div>
        </div>
      </div>
    </div>
  
    <app-contact-list [contacts]="contacts" (editContact)="editContact($event)" (deleteContact)="deleteContact($event)"></app-contact-list>
  </div>
  